:root{
  font-size: 10px;
  --red: rgba(237, 47, 47, 1);
  --bglight: rgba(248, 248, 248,1);
  --copycolor: rgba(80, 80, 80,1);
}

body,html{
  font-size: 1.8rem;
  line-height: 3.8rem;
  /* font-family: 'Catamaran', sans-serif; */
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--copycolor);
  background-color: var(--red);
}

h1{
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 9.6rem;
}

h2{
  font-family: 'Vollkorn', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 3rem;
}

.h2{
  font-family: 'Vollkorn', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 3rem;
}

.red{
  color:var(--red);
}

.centertext{
  text-align: center;
}

.headerwrapper{
  /* background-color: var(--red); */
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  z-index: -1;
  position: fixed;
}

.heroarea{
  margin: auto;
  padding:3rem;
  color:white;
  display: grid;
  grid-template-columns: minmax(30rem, 80rem);
  grid-template-rows: repeat(4,auto)
  max-width: 80rem;
}

.title{
  text-align: right;
}

.author{
  text-align: right;
}

.silhouette > img{
  width:32rem;
  height:auto;
  margin: 6rem auto 6rem auto;
  text-align:left;
}

.skew{
  transform: skewY(-4deg);
  margin-top:100vh;
  position:absolute;
  z-index:1;
}

.unskew{
  transform: skewY(4deg);
  padding:10rem 1.2rem;
}

.fullwidth{
  width: 100vw;
}

.lightbg{
  background-color: var(--bglight);
}


#contentwrapper1{
  max-width:80rem;
  margin:0 auto;
  /* height: 100%; */
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: dense;
}

.red{
  color: var(--red);
}

.redtitle{
  font-variant: small-caps;
}

#description{
  grid-column: 1 / span 2;
}


@media screen and (max-width: 600px) {
  .title{
    justify-self: center;
    text-align: center;
  }
  .title > h1{
    /* font-size: 7rem; */
    font-size: 14vw;
  }
  .title > h2{
    /* font-size: 2.4rem; */
    font-size: 5vw;
  }
  .silhouette > img{
    display: block;
    margin: 10rem auto 10rem auto;
    /* padding: 60rem auto; */
    width: 60%;
    height: auto;
  }
  .author{
    justify-self: center;
    text-align: center;
  }
  .author > h2{
    font-size: 2.4rem;
    font-size: 7vw;
  }
  .skew{
    transform: skewY(-5deg);
  }
  
  .unskew{
    transform: skewY(5deg);
    padding:10rem 1.2rem;
  }
}